@{
    ViewBag.Title = "ViewUsers";
}

<h2>View users</h2>
@Html.ActionLink("Add user", "AddUser", "ManageUsers")

<table class="table">

    @foreach (Model.User item in Model)
    {
        if (item.AccessRights != "Admin")
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Firstname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lastname)
                </td>
                <td>
                    @Html.ActionLink("Details/Edit", "EditUser", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "DeleteUser", new { id = item.Id })
                </td>
            </tr>
        }
    }

</table>
