@using MoodDetectorWebApp.Models
@using Model.Entity;

@model UsersPaginationModel
<link href="~/Assets/css/view-users.css" rel="stylesheet" type="text/css">

<div class="row">
    <h3 class="mr-3 ml-3 mb-5">Users</h3>
    @using (@Html.BeginForm("AddUser", "ManageUsers", FormMethod.Get))
    {
        <div>
            <input class="btn btn-outline-dark" type="submit" value="Add user" />
        </div>
    }
</div>

<table class="table">
    <thead>
        <tr>
            <td>Number</td>
            <td>Username</td>
            <td>Firstname</td>
            <td>Lastname</td>
            <td>Actions</td>
        </tr>
    </thead>
    @{ int itemNumber = Model.CurrentPage * Model.UsersPerPage - Model.UsersPerPage + 1; }
    @foreach (UserListItem item in Model.UserListItems)
    {
    <tr>
        <td class="column-number">
            @itemNumber
        </td>
        <td class="column-user-info">
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td class="column-user-info">
            @Html.DisplayFor(modelItem => item.Firstname)
        </td>
        <td class="column-user-info">
            @Html.DisplayFor(modelItem => item.Lastname)
        </td>
        <td class="column-action">
            @Html.ActionLink("Details/Edit", "EditUser", new { id = item.Id }) |
            @Html.ActionLink("Delete", "DeleteUser", new { id = item.Id })
        </td>
    </tr>
        itemNumber++;
    }
</table>
<div class="row justify-content-center">
    @if (Model.PreviousPage)
    {
        @Html.ActionLink("Prev", "ViewUsers", new { page = Model.CurrentPage - 1 }, new { @class = "btn btn-outline-dark btn-sm" })
    }
    <span class="mt-1 pl-2 pr-2">@Model.CurrentPage</span>
    @if (Model.NextPage)
    {
        @Html.ActionLink("Next", "ViewUsers", new { page = Model.CurrentPage + 1 }, new { @class = "btn btn-outline-dark btn-sm" })
    }
</div>
