@using MoodDetectorWebApp.Models

@model NewSessionModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row mt-5 mb-3">
        <div class="col-lg-1 col-sm-2 col-3">@Html.LabelFor(s => s.Class)</div>
        <div class="col-lg-11 col-sm-10 col-9">@Html.TextBoxFor(s => s.Class, new { maxlength = 30 }) @Html.ValidationMessageFor(s => s.Class, "",new { @style="color:red" })</div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-1 col-sm-2 col-3">@Html.LabelFor(s => s.Subject)</div>
        <div class="col-lg-11 col-sm-10 col-9">@Html.TextBoxFor(s => s.Subject, new { maxlength = 30 }) @Html.ValidationMessageFor(s => s.Subject, "",new { @style="color:red" })</div>
    </div>
    <div class="row mb-5">
        <div class="col-lg-1 col-sm-2 col-3">@Html.LabelFor(s => s.Comments)</div>
        <div class="col-lg-11 col-sm-10 col-9">@Html.TextBoxFor(s => s.Comments, new { maxlength = 1000 }) @Html.ValidationMessageFor(s => s.Comments, "",new { @style="color:red" })</div>
    </div>
    <input type="submit" value="Start detection" />
}

