@using MoodDetectorWebApp.Models
@using Model;
@using System.Diagnostics;

@{
    ViewBag.Title = "Learnings";
}
<h2>Assigned learnings</h2>
@if (Model != null)
{
    List<LearningMessage> learnings = Model;
    int cnt = 0;
    for (int i = 0; i < learnings.Count; i++)
    {
        cnt++;
        <p>
            @learnings[i].Text
            @if (learnings[i].SessionTime < 0)
            {
                <b>@(-learnings[i].SessionTime) days late</b>
            }
            else
            {
                <b>@learnings[i].SessionTime days left</b>
            }
            @Html.ActionLink("Link", "RemoveLearning", new { a = learnings[i].session.Id, b = learnings[i].Mask, c=learnings[i].EmotionName }, new { id = "myLink" + i })
            <br>
            Learning was received on <b>@learnings[i].session.DateTime.ToString()</b>
            in Class <b>@learnings[i].session.Class</b>
            on Subject <b>@learnings[i].session.Subject</b>
        </p>
        <script>
                $("#myLink"+@i).click(function (event) {
                    //event.preventDefault();
                    /*$.ajax({

                        url:$(this).attr("href"),

                    });*/
                    $("p").remove(":contains('@learnings[i].Text')");
                    window.open('@learnings[i].Link', "_blank");

                });
        </script>


    }
    if (cnt == 0)
    {
        <p>List for this user is empty</p>
    }

}
else
{
    <p>List for this user is empty</p>
}