@model MoodDetectorWebApp.Models.JoinSessionModel

@{
    ViewBag.Title = "JoinSession";}


<link href="~/Assets/css/youtube.css" rel="stylesheet" type="text/css">         

<html>
    <head>                                
                    
        <script src="https://d3js.org/d3.v5.min.js"></script>            
        <script defer src="~/Assets/js/JoinSessionDetector.js"></script>
            
    </head>

    <body>
        <div class="row pb-5">
            <div class="session-label col-md-12">
                <h3>Session ID: @Model.DetectionId</h3>
                <h3>JoinSession ID: @Model.JoinSessionId</h3>
                <h3>Joined as:  @Model.JoinName</h3>
                <!--  <h3>VideoID: @Model.VideoId</h3> -->
            </div>
        </div>
        <script>
            var video = '@Model.VideoId'
            var joinSessionId = '@Model.JoinSessionId'                
        </script>

        <div id="text-width"></div>
        <div id="lightbox"></div>
        <div id="facevideo-node" style="display: none;"></div>

        <div class="row d-none align-items-center flex-fill" id="demo-setup">
            <div class="col-md-8 offset-md-2" id="instructions">
                <div class="card my-3">
                    <div class="card-body">
                        <div class="row justify-content-center no-gutters" id="example-container">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row full-height align-items-center" id="video-container">
            <div class="col text-center">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <div id="video-wrapper">
                            <div id="player" style="pointer-events: none"></div>
                        </div>
                    </div>
                </div>
                <div class="row" id="svg-container">
                    <div class="col-lg-2">
                        <ul class="nav d-flex flex-lg-column justify-content-center">
                            <li class="nav-item all buttons all-box box-squared selected" id="all"><p> Show all</p></li>
                            <li class="nav-item joy buttons joy-box box-squared" id="joy"><p>Joy</p></li>
                            <li class="nav-item anger buttons angry-face anger-box box-squared" id="anger"><span> Anger</span></li>
                            <li class="nav-item disgust buttons disgusted-face disgust-box box-squared" id="disgust"><span> Disgust</span></li>
                            <li class="nav-item contempt buttons contempt-face contempt-box box-squared" id="contempt"><span> Contempt</span></li>
                            <li class="nav-item surprise buttons surprise-face surprise-box box-squared" id="surprise"><span> Surprise</span></li>
                        </ul>
                    </div>

                    <div id="svg-wrapper" class="col-lg-8 text-center">
                        <svg id="svg-curve"></svg>
                    </div>

                </div>
            </div>
        </div>                                 

    </body>
</html>    

<script type="text/javascript" src="https://download.affectiva.com/js/3.2.1/affdex.js"></script>



