@using MoodDetectorWebApp.Controllers

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mood Detector</title>
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/popper")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Assets/js/messenger-update.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @Html.ActionLink("Mood Detector", "About", "About", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    @{
                        var accessRights = LoginController.AccessRights;
                        Session["AccessRights"] = accessRights;

                    }

                    @*For everyone*@
                    <li class="nav-item">@Html.ActionLink("About", "About", "About", null, new { @class = "nav-link" })</li>
					<li class="nav-item">@Html.ActionLink("Threading", "Index", "Threading", null, new { @class = "nav-link" })</li>
					
                    @*For logged out*@
                    @if (accessRights == "logged out")
                    {
                        <li class="nav-item">@Html.ActionLink("Messages", "GlobalMessage", "Messenger", null, new { @class = "nav-link" })</li>
                        <li class="nav-item"><sup id="message-counter"></sup></li>
                        <li class="nav-item">@Html.ActionLink("Log in", "Login", "Login", null, new { @class = "nav-link" })</li>
                    }
                    @*For teacher*@
                    @if (accessRights == "teacher")
                    {
                        <li class="nav-item">@Html.ActionLink("Important info", "ImportantInfo", "ImportantInfo", null, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Sessions", "SessionRedirect", "SessionRedirect", null, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Learnings", "Learnings", "Learnings", null, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("My profile", "MyProfileTeacher", "MyProfileTeacher", null, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Messages", "GlobalMessage", "Messenger", null, new { @class = "nav-link" })</li>
                        <li class="nav-item"><sup id="message-counter"></sup></li>
                    }

                    @*For admin*@
                    @if (accessRights == "admin")
                    {
                        <li class="nav-item">@Html.ActionLink("Manage users", "ViewUsers", "ManageUsers", null, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Send info", "SendInfo", "SendInfo", null, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("My profile", "MyProfileAdmin", "MyProfileAdmin", null, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Messages", "GlobalMessage", "Messenger", null, new { @class = "nav-link" })</li>
                        <li class="nav-item"><sup id="message-counter"></sup></li>
                    }

                    @*For logged in*@
                    @if (accessRights == "admin" || accessRights == "teacher")
                    {
                        <li class="nav-item">@Html.ActionLink("Log out", "Logout", "Logout", null, new { @class = "nav-link" })</li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p class="ml-5">@DateTime.Now.Year Mood Detector</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
