<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mood Detector</title>
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/popper")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript" src="https://download.affectiva.com/js/3.2.1/affdex.js"></script>
    <script type="text/javascript" src="~/Assets/js/detector.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Mood Detector", "About", "About", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*TODO: show based on users AccessRights or if not logged on*@
                    @{ 
                        var AccessRights = "admin";
                    }
                    @*For everyone*@
                    <li>@Html.ActionLink("About", "About", "About")</li>
                    @*For logged out*@
                    @if (AccessRights == "logged out")
                    {
                        <li>@Html.ActionLink("Log in", "Login", "Login")</li>
                    }
                    @*For teacher*@
                    @if (AccessRights == "teacher")
                    {
                        <li>@Html.ActionLink("Important info", "ImportantInfo", "ImportantInfo")</li>
                        <li>@Html.ActionLink("New session", "NewSession", "Detector")</li>
                        <li>@Html.ActionLink("View session moods", "MoodIndex", "Mood")</li>
                        <li>@Html.ActionLink("Learnings", "Learnings", "Learnings")</li>
                        <li>@Html.ActionLink("My profile", "MyProfileTeacher", "MyProfileTeacher")</li>
                    }
                    @*For admin*@
                    @if (AccessRights == "admin")
                    {
                        <li>@Html.ActionLink("Add user", "AddUser", "AddUser")</li>
                        <li>@Html.ActionLink("Manage users", "ViewUsers", "ManageUsers")</li>
                        <li>@Html.ActionLink("Send info", "SendInfo", "SendInfo")</li>
                        <li>@Html.ActionLink("My profile", "MyProfileAdmin", "MyProfileAdmin")</li>
                    }
                    @*For logged in*@
                    @if (AccessRights == "admin" || AccessRights == "teacher")
                    {
                        <li>@Html.ActionLink("Log out", "Logout", "Logout")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>@DateTime.Now.Year Mood Detector</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
